- 训练集中存在为0的情况 推测可能的原因是机械故障或店铺休业（可能可通过view判断）需要处理
- 构思：把店铺的销售情况做成3行，及通过三折学习，尽量拟合数据。

 评测 Evaluation

在这次比赛中，每只队伍需要预测测试集中所有商家在未来14天（2016.11.01-2016.11.14）内各自每天（00:00:00-23:59:59）的客户流量。预测结果为非负整数。

我们提供从2015.07.01到2016.10.31（除去2015.12.12）的商家数据，用户支付行为数据以及用户浏览行为数据。提供数据的类型统一为string类型，提交预测的类型为整形。文件统一为utf-8编码，没有标题行，并以“,”分隔的csv格式。

In [1]:
import pandas as pd
import numpy as np

In [5]:
feature_daypay=pd.read_csv('../tempfile/feature_daypay.csv')

In [4]:
# 14天的预测值 
# 分割数据集

#  2016-10-18  2016-10-31
#  2016-10-3  2016-10-17

# 过去一周平均业绩
#  过去一个月平均业绩
# 过去3个月平均业绩
# 过去半年平均业绩
# 过去一年平均业绩
# 去年同期平均业绩

In [6]:
train_last1=feature_daypay[feature_daypay.data>='2016-10-18']

train_last2=feature_daypay[feature_daypay.data>='2016-10-13']

In [9]:
train_last1.head()

     shop_id        data  daypay
373        1  2016-10-18     244
374        1  2016-10-19     177
375        1  2016-10-20     207
376        1  2016-10-21     230
377        1  2016-10-22     202

In [15]:
daypay=np.array(train_last1['daypay'])

In [21]:
daypay.shape

(27900,)

In [20]:
np.reshape?

In [ ]:
np.reshape(daypay,(2000))

In [ ]:
train_last1['daypay'].reshape

In [11]:
def trans(x):
    return x.T

In [13]:
train_last1.groupby(['shop_id'])['daypay'].T    #apply(lambda x:trans(x))

AttributeError: Cannot access attribute 'T' of 'SeriesGroupBy' objects, try using the 'apply' method